.big {

  background-image: url('https://i.ibb.co/HTFnmzQ/backgroung.jpg');

}

.header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}


.full {

  width: 100%;
}

.box {

  margin: 0px;
}

.movie {

  color: white;

}

.heist {

  color: red;

}

.foot {

  position: fixed;
  bottom: 0px;
  height: 53px;
  width: 100%;
  z-index: 3 !important;
}

.foot_margin {

  margin-right: 5vw;
}

.button_hover:hover {
  background-color: white;
  color: #dc3545;
}

.card {

  height: 240px;

  background-color: white;
  background-color: #343a40;


}

.poster {

  height: 100%;
  width: 100%;

}

.button {

  margin: 3px;
  border: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}



.button:hover {

  padding: 2px;

}



.trending {

  margin-left: 20px;

}

::-webkit-scrollbar-track {

  border-radius: 10px;
  background-color: #343a40;
}

::-webkit-scrollbar {
  height: 10px;
  width: 0px;
  background-color: #343a40;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;


  background-color: rgb(168, 166, 166);
}